<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;

    word-wrap: break-word;
    word-break: break-all;
  }

  .push-top {
    margin-top: 24px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="35"
    alt="Angular Logo"
    src="https://app.kontent.ai/images/kk-symbol-rgb.svg"
  />
  <span>Kontent Angular Sample</span>
</div>

<div class="content" role="main">
  <div style="width: 100%; margin-left: auto; margin-right: auto">
    <div>
      Below is a list responses that you get from
      <a
        target="_blank"
        href="https://github.com/Kentico/kontent-delivery-sdk-js"
        >@kentico/kontent-delivery</a
      >
      SDK. This sample also uses
      <a
        target="_blank"
        href="https://github.com/Kentico/kontent-angular-http-service"
        >Kontent Angular Http Service</a
      >
      for API calls instead of the default one.
    </div>

    <div class="push-top">
      <h2>Items response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="itemsResponse"
          [json]="itemsResponse"
          [expanded]="false"
        ></ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Item response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="itemResponse"
          [json]="itemResponse"
          [expanded]="false"
        ></ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Taxonomies response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="taxonomiesResponse"
          [json]="taxonomiesResponse"
          [expanded]="false"
        >
        </ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Taxonomy response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="itemsResponse"
          [json]="itemsResponse"
          [expanded]="false"
        ></ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Languages response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="languagesResponse"
          [json]="languagesResponse"
          [expanded]="false"
        >
        </ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Content types response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="typesResponse"
          [json]="typesResponse"
          [expanded]="false"
        ></ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Content type response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="typeResponse"
          [json]="typeResponse"
          [expanded]="false"
        ></ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Content type element response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="elementResponse"
          [json]="elementResponse"
          [expanded]="false"
        >
        </ngx-json-viewer>
      </div>
    </div>

    <div class="push-top">
      <h2>Items feed response</h2>
      <div class="push-top">
        <ngx-json-viewer
          *ngIf="itemsFeedResponse"
          [json]="itemsFeedResponse"
          [expanded]="false"
        >
        </ngx-json-viewer>
      </div>
    </div>
  </div>
</div>
