.kc-error {
    background-color: #b81717;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 17px;
    margin-top: 15px;
}

.kc-info{
    background-color: #06437c;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 17px;
    margin-top: 15px;
}

.kc-link {
    color: #ffffff;
}
