/* You can add global styles to this file, and also import other style files */

/*
Spinner is a courtesy of the awesome http://tobiasahlin.com/spinkit/
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2196f3;
    color: #ffffff;
    padding: 20px;
    line-height: 1.5em;
    height: 100%;
    -webkit-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

h1 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 30px;
}

h2 {
    font-weight: 300;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
  
    margin: 20px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

.screen-center {
    width: 200px;
    height: 300px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;

    position: absolute; /*it can be fixed too*/
    left: 0; right:0;
    top: 0; bottom:0;
    margin: auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}